doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/bower_components/video.js/video-js.min.css")
    script(src="/bower_components/video.js/video.js")
  body
    block content