body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* removes loading spinner from videojs */
.vjs-loading-spinner{
  display: none !important;
}